body {
    background-color: black;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    position: relative;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#game {
    border-style: solid;
    background-color: #bdbdbd;
    border-left-color: white;
    border-top-color: white;
    border-right-color: #7b7b7b;
    border-bottom-color: #7b7b7b;
}

#scoreboard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #bdbdbd;
    border-style: solid;
    border-left-color: gray;
    border-top-color: gray;
    border-right-color: white;
    border-bottom-color: white;
}

#field {
    border-style: solid;
    border-left-color: gray;
    border-top-color: gray;
    border-right-color: white;
    border-bottom-color: white;
}

.row {
    display: flex;
}


